[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
requests = "*"

[packages]
flask = "*"
flask-restx = "*"
# werkzeug = "==0.16.1"
flask-cors = "*"
numpy = "*"
pandas = "*"
tensorflow = "*"
scipy = "*"

[requires]
python_version = "3.7"
